@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
	margin: 0;
	padding: 0;
	color: #eeeeee;
}

html{
	/* height: 400vh; */
	scroll-behavior: smooth;
}

body{
	font-family: Ubuntu;
	background-image: var(--body-bgimage);
	background-size: auto auto;
	/* height: 400vh; */
}



header{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	color: var(--header-footer-color);
}

.nav-box{
	/* width: 60vw; */
	display: flex;
	text-align: center;
	height: var(--header-height);
	align-items: center;
}

#header-nav{
	background-color: var(--header-bgcolor);
}

.nav-list-link{
	text-decoration: none;
	color: white;
	font-size:  1.2em;
	padding-inline: 20px;
}

.nav-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#top-logo-img {
	width: auto;
	height: 65px;
	padding-inline: 6%;
	/* margin-bottom: var(--header-bottom-padding); */
}
/* .databased{
	padding-block: var(--header-height);
} */

footer{
	position: relative;
	bottom: 0;
}

.logo-1{
	color: var(--logo-color-1);
}
.logo-2{
	color: var(--logo-color-2);
}
.logo-3{
	color: var(--logo-color-3);
}


main{
	min-height: 400vh; /* temp for debugging/sample */
	/* padding-inline: var(--content-side-padding); */
	padding-top: var(--header-height);
}

.content {
	padding-inline: var(--content-side-padding);
}

#title{
	/* padding-top: calc(var(--header-height) + 30vh);
	padding-bottom: calc(70vh - var(--header-height)); */
	/* padding-block: var(--header-height); */
	min-height: 100vh;
	display: grid;
	text-align: center;
	align-items: center;
	font-size: 6em;
}

#about{
	position: relative;
	display: flex;
	flex-direction: row;
}

.sub-title{
	font-size: 3em;
	padding-block: var(--title-block-padding);
	padding-inline: var(--title-inline-padding);
	align-self: center;
}

#about-content{
	display: flex;
	justify-content: center;
	padding-inline: 10%;
	text-align: center;
}
#about-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: calc(15% - 500px * 0.15);
}

.placeholder {
	margin: 20%;
	display: grid;
	align-content: center;
	justify-content: center;
}

footer {
	vertical-align: bottom;
}

#events {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 30%;
}

#event-title {
	font-size: 2em;
	margin-bottom: 20px;
}

#event-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#eventsframe {
	width: fit-content;
}

#loremimg {
	justify-self: center;
	align-self: center;
}

#tagline {
	font-size: 2em;
	margin-block: 300px;
	text-align: center;
}

@media only screen and (max-width: 700px) {
	#events {
		flex-direction: column;
	}
	#about {
		flex-direction: column-reverse;
	}
	#about-container {
		padding: 0;
		margin-bottom: 30px;
	}
	#loremimg {
		width: 80%;
		height: 80%;
		/* display: none; */
	}
	#title {
		font-size: 13vw;
	}
}


#footer {
	display: flex;
	justify-content: space-between;
	padding: 0% var(--footer-side-padding) 0% var(--footer-side-padding);
}
.footerlist {
	padding-bottom: var(--footerlist-bottom-padding);
}
#footervert {
	background-color: var(--footer-bgcolor);
	margin-top: var(--footer-top-margin);
	padding-top: var(--footer-top-padding);
	padding-bottom: var(--footer-bottom-padding);
	display: flex;
	flex-direction: column;
}
#contactus {
	display: inherit;
	justify-content: center;
	font-size: smaller;
	text-align: center;
}