@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
	margin: 0;
	padding: 0;
	color: #eeeeee;
}

html{
	/* height: 400vh; */
	scroll-behavior: smooth;
}

body{
	font-family: Ubuntu;
	background-image: var(--body-bgimage);
	background-size: auto auto;
	/* height: 400vh; */
}



header{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	color: var(--header-footer-color);
}

.nav-box{
	/* width: 60vw; */
	display: flex;
	text-align: center;
	height: var(--header-height);
	align-items: center;
}

#header-nav{
	background-color: var(--header-bgcolor);
}

.nav-list-link{
	text-decoration: none;
	color: white;
	font-size:  1.2em;
	padding-inline: 20px;
}

.nav-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#top-logo-img {
	width: auto;
	height: 65px;
	padding-inline: 6%;
	/* margin-bottom: var(--header-bottom-padding); */
}
.databased{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 6em;
}

footer{
	position: relative;
	bottom: 0;
}

.logo-1{
	color: var(--logo-color-1);
}
.logo-2{
	color: var(--logo-color-2);
}
.logo-3{
	color: var(--logo-color-3);
}


main{
	/* height: 400vh; temp for debugging/sample */
}

#title{
	text-align: center;
	padding-block: 25%;
}

#about{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0 var(--content-side-padding);
}

.title{
	font-size: 3em;
	padding-block: 10px;
}

.about-content{
	display: flex;
	justify-content: center;
}
#about-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15%;
}

.placeholder {
	padding: 10%
}

footer {
	vertical-align: bottom;
}

#events {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 30%;
}

#event-title {
	font-size: 2em;
	margin-bottom: 20px;
}
#event-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#event-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#eventsframe {
	width: fit-content;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 0% var(--footer-side-padding) 0% var(--footer-side-padding);
}
.footerlist {
	padding-bottom: var(--footerlist-bottom-padding);
}
.footervert {
	background-color: var(--footer-bgcolor);
	margin-top: var(--footer-top-margin);
	padding-top: var(--footer-top-padding);
	padding-bottom: var(--footer-bottom-padding);
	display: flex;
	flex-direction: column;
}
#contactus {
	display: inherit;
	justify-content: center;
	font-size: smaller;
	text-align: center;
}