@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
	margin: 0;
	padding: 0;
	color: #eeeeee;
}

html{
	height: 400vh;
	scroll-behavior: smooth;
}

body{
	font-family: Ubuntu;
	background-image: linear-gradient(#101010, #000124);
	background-size: auto auto;
	height: 400vh;
}



header{
	position: fixed;
	right: 0;
	left: 0;
	height: 69px;
	z-index: 10;
	color: white;
}

.nav-box{
	width: 60vw;
	text-align: center;
	
}

nav{
	background-color: #101010;

}

nav ul{
	list-style-type: none;
}

.nav-list li{
	display: inline-block;
	margin-left: 3vw;
}


.nav-list-link{

	text-decoration: none;
	color: white;
	font-size:  1.2em;
}

img{
	height: 400px;
	width: 400px;
	padding: 0px;
}

.nav-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

li>img{
	height: 50px;
	width: auto;
}
.databased{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 6em;
}


.orange{
	color: #59a5c8;
}
.white{
	color:  #eeeeee;
}
.green{
	color: #9cec5b;
}


main{
	
}

#title{
	text-align: center;
	width: 100vw;
	height: 100vh;
}

#about{
	position: relative;
	height: 100vh;
	width: 60vw;
	transform: translateX(-50%);
	left: 50%;
}

.about-title{
	display: inline-block;
	width: auto;
	font-size: 3em;
	position: relative;
	margin-top: 140px;
	left: 80%;
}

.about-content{
	width: 30vw;
	text-align: right;
	position: relative;
	transform: translateX(-100%);
	left: 100%;
}